# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
D:\Utilisateurs\Linde\IntelliJ_Project\PhysicEngine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
